<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MapApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MapAppWatch (Notification).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MapAppWatch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B107B642217D74A006971FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B107B7B2217D74C006971FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B107B862217D74C006971FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BE20C2622338A7800ABA8ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
